#!/usr/bin/env bash

export EDITOR="nano";
export NODE_REPL_HISTORY=~/.node_history;
export NODE_REPL_HISTORY_SIZE="32768";
export NODE_REPL_MODE="sloppy";

export PYTHONIOENCODING="UTF-8";

export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

export LESS_TERMCAP_md="${yellow}";

export SSLKEYLOGFILE="${HOME}/ssl-file.log"

export SENDGRID_APIKEY="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"
export SENDGRID_MUD43AD="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"

export REPO_OS_OVERRIDE="linux"
# export ANDROID_HOME="/usr/lib/android-sdk"
# export ANDROID_SDK_ROOT="/usr/lib/android-sdk"

export GOPATH="/opt/go"
export GOBIN="${GOPATH}/bin"
export PATH=$PATH:/usr/local/go/bin:$GOBIN
export PURECLOUD_CLIENTID="9579ba89-10a4-4ebb-9ab0-5d1a430f9701"
export PURECLOUD_SECRET="y4ikPsCdCMfW6VNb1JTwXVokp76wI3c9jZ4OCOoaS3I"
