#!/usr/bin/env bash

export SHELL='/bin/zsh'
export EDITOR='code';
export NODE_REPL_HISTORY=~/.node_history;
export NODE_REPL_HISTORY_SIZE='32768';
export NODE_REPL_MODE='sloppy';

export PYTHONIOENCODING='UTF-8';

export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";

export HISTCONTROL='ignoreboth';

export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

export LESS_TERMCAP_md="${yellow}";

export SSLKEYLOGFILE="${HOME}/ssl-file.log"

if (( $+commands[yarn] ))
then
  export PATH="$PATH:`yarn global bin`"
fi
hash yarn 2>/dev/null && export PATH="$PATH:`yarn global bin`"
