#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$_" && ls -lhAF --color=always;
}

# `tre` is a shorthand for `tree` with hidden files and color enabled
function tre() {
  tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}

function clr() {
#  clear && sudo bash $HOME/.fort-cow.sh
    clear && neofetch
}

#
# # Fix for VmWare
#
function vwprob() {
  sudo modprobe -a vmw_vmci vmmon
}

# # ex - archive extractor
# # usage: ex <file>
function exx () {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjf $1   ;;
      *.tar.gz)    tar xzf $1   ;;
      *.bz2)       bunzip2 $1   ;;
      *.rar)       unrar x $1     ;;
      *.gz)        gunzip $1    ;;
      *.tar)       tar xf $1    ;;
      *.tbz2)      tar xjf $1   ;;
      *.tgz)       tar xzf $1   ;;
      *.zip)       unzip $1     ;;
      *.Z)         uncompress $1;;
      *.7z)        7z x $1      ;;
      *)           echo "'$1' cannot be extracted via ex()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

#
# # runsync - run rsync
#
function runsync() {
  sudo rsync -aAXvrz --delete --exclude 'rykn0wxx/.rbenv/*' --exclude 'rykn0wxx/.local/*' --exclude 'rykn0wxx/.npm/*' --exclude 'rykn0wxx/.oh-my-zsh/*' --exclude 'rykn0wxx/.android/*' --exclude 'rykn0wxx/Downloads/*' --exclude 'rykn0wxx/ISO/*' --exclude 'rykn0wxx/VirtualBox\ VMs/*' --exclude 'rykn0wxx/.cache/*' --exclude 'rykn0wxx/vmware/*' /home/ /tmp/backups/
}

function mm () {
  if [ -f $1 ] ; then
    case $1 in
      n)  sudo nmap -sn 192.168.254.0/24 ;;
      s)  sudo nmap -sS 192.168.254.0/24 ;;
    esac
  fi
}

function vmx () {
  if [ $1 ] && [ $2 ] ; then
    case $1 in
      start) VBoxManage startvm $2 --type headless ;;
      stop) VBoxManage controlvm $2 acpipowerbutton ;;
    esac
  fi
}

function vscode () {
  vargs="--user-data-dir='/home/rykn0wxx'"
  if [[ -z $@ ]] ; then
    code sample.txt --user-data-dir='/home/rykn0wxx'
  else
    code "$@" --user-data-dir='/home/rykn0wxx'
  fi
#  if [ $1 == "" ]; then
#      /usr/bin/code noname.txt --user-data-dir /home/rykn0wxx
#  else
#      /usr/bin/code . --user-data-dir /home/rykn0wxx/
#  fi
}

##
# Find large files and directory
alias large_files='find -type f -exec du -Sh {} + | sort -rh | head -n 20'
alias large_dir='du -Sh | sort -rh | head -n 20'

#
