[user]
  name = rykn0wxx
  email = raurici666@gmail.com
[apply]
  whitespace = fix
[core]
  excludesfile = ~/.global_gitignore
  eol = lf
  autocrlf = input
[color]
  ui = auto
  interactive = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold # line info
  old = red # deletions
  new = green # additions
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[credential "https://github.com"]
  username = rykn0wxx
[alias]
  nicelog = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%aE>%Creset [%G?]'
[init]
  defaultBranch = master
