set autoindent
set constantshow
set emptyline
set linenumbers
set tabsize 2
set tabstospaces

set titlecolor brightwhite,blue
set statuscolor brightwhite,green
set selectedcolor brightwhite,cyan
set numbercolor magenta
set keycolor brightcyan
set functioncolor brightblue
